# Here are some DataFrame Examples

### Example 1.Creating a DataFrame from a Dictionary

In [2]:
import pandas as pd
data={'Name':["Deepanshu","Rajat","Deepak"],'Age':[21,22,22],'State':["Haryana","Delhi","UP"]}
df=pd.DataFrame(data)
print(df)

        Name  Age     City
0  Deepanshu   21  Haryana
1      Rajat   22    Delhi
2     Deepak   22       UP

### Example 2: Creating a DataFrame from Lists with Custom Index

In [3]:
data=[['Ronak',23,'UP'],['Abhi',23,'Haryana'],['Priyanshu',20,'Delhi']]
df=pd.DataFrame(data,columns=["Name","Age","State"],index=["Person 1","Person 2","Person 3"])
print(df)

               Name  Age    State
Person 1      Ronak   23       UP
Person 2       Abhi   23  Haryana
Person 3  Priyanshu   20    Delhi

### Example 3: Creating a DataFrame from a CSV file

In [13]:
data={'Name':["Deepanshu","Rajat","Deepak"],'Age':[21,22,22],'State':["Haryana","Delhi","UP"]}
df=pd.DataFrame(data)
print(df['Name'])
print()
print()
print(df.loc[0])

0    Deepanshu
1        Rajat
2       Deepak
Name: Name, dtype: object


Name     Deepanshu
Age             21
State      Haryana
Name: 0, dtype: object

### Example 4. Reading CSV file and convert into dataframe

In [6]:
df=pd.read_csv('Automobile_data.csv')
data=pd.DataFrame(df)
print(data.head())

   Unnamed: 0  index      company   body-style  wheel-base  length  \
0           0      0  alfa-romero  convertible        88.6   168.8
1           1      1  alfa-romero  convertible        88.6   168.8
2           2      2  alfa-romero    hatchback        94.5   171.2
3           3      3         audi        sedan        99.8   176.6
4           4      4         audi        sedan        99.4   176.6

  engine-type num-of-cylinders  horsepower  average-mileage    price
0        dohc             four         111               21  13495.0
1        dohc             four         111               21  16500.0
2        ohcv              six         154               19  16500.0
3         ohc             four         102               24  13950.0
4         ohc             five         115               18  17450.0

### Example 5. Filtering Data in a DataFrame

In [15]:
data={'Name':["Deepanshu","Rajat","Deepak"],'Age':[21,22,22],'State':["Haryana","Delhi","UP"]}
df=pd.DataFrame(data)
filter_data=df[df['Age']>21]
print(filter_data)

     Name  Age  State
1   Rajat   22  Delhi
2  Deepak   22     UP

### Example 6. Handling Missing Data in a DataFrame

In [16]:
#It will drop row where any value is missing
data={'Name':["Deepanshu","Rajat",None],'Age':[21,None,22],'State':["Haryana","Delhi","UP"]}
df=pd.DataFrame(data)
dr=df.dropna()
print(dr)

        Name   Age    State
0  Deepanshu  21.0  Haryana

### Example 7: Adding a New Column to a DataFrame

In [17]:
data={'Name':["Deepanshu","Rajat",'Apeksha'],'Age':[21,23,22],'State':["Haryana","Delhi","UP"]}
df=pd.DataFrame(data)
df['Gender']=['Male','Male','Female']
print(df)

        Name  Age    State  Gender
0  Deepanshu   21  Haryana    Male
1      Rajat   23    Delhi    Male
2    Apeksha   22       UP  Female

### Example 8: Grouping and Aggregating Data in a DataFrame

In [18]:
data = {'City': ['New York', 'San Francisco', 'Los Angeles', 'New York', 'San Francisco'],
        'Population': [8.4, 0.9, 3.8, 8.4, 0.9]}
df = pd.DataFrame(data)

# Grouping and aggregating data
grouped_df = df.groupby('City').sum()
print(grouped_df)

               Population
City
Los Angeles           3.8
New York             16.8
San Francisco         1.8

### Example 9: Merging DataFrames

In [19]:
df1 = pd.DataFrame({'ID': [1, 2, 3], 'Name': ['Alice', 'Bob', 'Charlie']})
df2 = pd.DataFrame({'ID': [2, 3, 4], 'Age': [25, 30, 35]})

# Merging DataFrames
merged_df = pd.merge(df1, df2, on='ID')
print(merged_df)

   ID     Name  Age
0   2      Bob   25
1   3  Charlie   30

### Example 10: Sorting a DataFrame

In [21]:
data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 35],
        'City': ['New York', 'San Francisco', 'Los Angeles']}
df = pd.DataFrame(data)

# Sorting by a column
sorted_df = df.sort_values(by='Age', ascending=False)
print(sorted_df)

      Name  Age           City
2  Charlie   35    Los Angeles
1      Bob   30  San Francisco
0    Alice   25       New York