# Some examples  of Reading and Writing files

### Example 1. Reading CSV File

In [2]:
import pandas as pd
df=pd.read_csv("Automobile_data.csv")
print(df.head())

      Name  Age           City
0    Alice   25       New York
1      Bob   30  San Francisco
2  Charlie   35    Los Angeles

### Example 2. Writing in CSV file

In [3]:
data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 35],
        'City': ['New York', 'San Francisco', 'Los Angeles']}
df=pd.DataFrame(data)
df.to_csv("Automobile_data.csv",index=False)
dd=pd.read_csv("Automobile_data.csv")
print(dd.head(2))

    Name  Age           City
0  Alice   25       New York
1    Bob   30  San Francisco

### Example 3. Reading JSON File

In [5]:
df=pd.read_json("all_lobsters.json")
print(df.head())

        comment_count                                       comments_url  \
09zw7r              0            https://lobste.rs/s/09zw7r/edited_truth
0bdne7             17  https://lobste.rs/s/0bdne7/rise_social_media_v...
1bhbod             11  https://lobste.rs/s/1bhbod/tcl_misunderstood_a...
1xkje1              0  https://lobste.rs/s/1xkje1/interview_4_jonatha...
2dasvh             19      https://lobste.rs/s/2dasvh/return_hipster_pda

                created_at                                        description  \
09zw7r 2017-08-08 20:11:09
0bdne7 2017-08-08 21:12:38
1bhbod 2017-04-30 20:28:52  <p>Did any language end up taking that â€œhighly...
1xkje1 2017-05-01 02:31:35  <p>Rustâ€™s own Jonathan Turner on his backgroun...
2dasvh 2017-08-08 14:25:29

        downvotes                last_updated  score  \
09zw7r          0  2017-08-09T11:03:57.014269      3
0bdne7          9  2017-08-09T11:03:57.014269     -1
1bhbod          0  2017-05-01T06:29:11.725518     17
1xkje1          0  2017-05-01T06:29:11.725518      1
2dasvh          0  2017-08-09T11:03:56.287654     20

                      short_id_url  \
09zw7r  https://lobste.rs/s/09zw7r
0bdne7  https://lobste.rs/s/0bdne7
1bhbod  https://lobste.rs/s/1bhbod
1xkje1  https://lobste.rs/s/1xkje1
2dasvh  https://lobste.rs/s/2dasvh

                                           submitter_user  \
09zw7r  {'avatar_url': 'https://lobste.rs/avatars/trn-...
0bdne7  {'avatar_url': 'https://lobste.rs/avatars/nkhu...
1bhbod  {'is_moderator': False, 'is_admin': False, 'us...
1xkje1  {'is_moderator': False, 'is_admin': False, 'us...
2dasvh  {'created_at': '2017-01-19T14:56:50.000-06:00'...

                             tags                                       title  \
09zw7r              [crypto, pdf]                            The Edited Truth
0bdne7             [law, privacy]      The Rise of The Social Media Vigilante
1bhbod              [programming]             Tcl the misunderstood - antirez
1xkje1  [audio, javascript, rust]  ðŸŽ¤ðŸŽ™ Interview 4 â€“ Jonathan Turner: Part 1/3
2dasvh                [practices]               The Return of the Hipster PDA

        upvotes                                                url
09zw7r        3               https://eprint.iacr.org/2017/714.pdf
0bdne7        8  https://medium.com/@nkhumphreys_89452/the-rise...
1bhbod       17  http://antirez.com/articoli/tclmisunderstood.html
1xkje1        1  http://www.newrustacean.com/show_notes/intervi...
2dasvh       20  http://www.agilesysadmin.net/return-of-the-hip...

### Example 4. Writing on JSON File

In [7]:
data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 35],
        'City': ['New York', 'San Francisco', 'Los Angeles']}
df=pd.DataFrame(data)
df.to_json("all_lobsters.json",orient='records')
df=pd.read_json("all_lobsters.json")
print(df.head())

      Name  Age           City
0    Alice   25       New York
1      Bob   30  San Francisco
2  Charlie   35    Los Angeles

### Example 5. Reading Excel File

In [8]:
df=pd.read_excel("financial_data.xlsx")
print(df.head())

      Segment  Country    Product Discount Band  Units Sold  \
0  Government   Canada  Carretera           NaN      1618.5
1  Government  Germany  Carretera           NaN      1321.0
2   Midmarket   France  Carretera           NaN      2178.0
3   Midmarket  Germany  Carretera           NaN       888.0
4   Midmarket   Mexico  Carretera           NaN      2470.0

   Manufacturing Price  Sale Price  Gross Sales  Discounts    Sales     COGS  \
0                    3          20      32370.0        0.0  32370.0  16185.0
1                    3          20      26420.0        0.0  26420.0  13210.0
2                    3          15      32670.0        0.0  32670.0  21780.0
3                    3          15      13320.0        0.0  13320.0   8880.0
4                    3          15      37050.0        0.0  37050.0  24700.0

    Profit       Date  Month Number Month Name  Year
0  16185.0 2014-01-01             1    January  2014
1  13210.0 2014-01-01             1    January  2014
2  10890.0 2014-06-01             6       June  2014
3   4440.0 2014-06-01             6       June  2014
4  12350.0 2014-06-01             6       June  2014

### Example 6. Writing on Excel file

In [9]:
data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 35],
        'City': ['New York', 'San Francisco', 'Los Angeles']}
df=pd.DataFrame(data)
df.to_excel("financial_data.xlsx")
df=pd.read_excel("financial_data.xlsx")
print(df.head())

   Unnamed: 0     Name  Age           City
0           0    Alice   25       New York
1           1      Bob   30  San Francisco
2           2  Charlie   35    Los Angeles