# Here is the examples of Series.

### Example 1.  Creating a series

In [2]:

import pandas as pd

# Creating a Series from a list
data = [10, 20, 30, 40, 50]
s = pd.Series(data)

print(s)

0    10
1    20
2    30
3    40
4    50
dtype: int64

### Example 2. Creating a series with index

In [3]:
index = ['a', 'b', 'c', 'd', 'e']
s = pd.Series(data, index=index)

print(s)

a    10
b    20
c    30
d    40
e    50
dtype: int64

### Example  3.  Indexing and Slicing

In [4]:
# Accessing elements by index
print(s[1:2])  # Output: 30
print()
# Slicing the Series
print(s[1:4])

b    20
dtype: int64

b    20
c    30
d    40
dtype: int64

### Example 4. Operations on Series

In [5]:
# Adding a scalar to each element
s_add = s + 5
print(s_add)
print()

# Multiplying each element by 2
s_mul = s * 2
print(s_mul)
print()

# Dividing each element by 2
s_div=s/2
print(s_div)
print()

# Subtracting each element by 5
s_sub=s-5
print(s_sub)

a    15
b    25
c    35
d    45
e    55
dtype: int64

a     20
b     40
c     60
d     80
e    100
dtype: int64

a     5.0
b    10.0
c    15.0
d    20.0
e    25.0
dtype: float64

a     5
b    15
c    25
d    35
e    45
dtype: int64

### Example 5. Create a series from dictionary.

In [6]:
new_dict={'a':1,'b':2,'c':3,'d':4}
dd=pd.Series(new_dict)
print(dd)

a    1
b    2
c    3
d    4
dtype: int64

### Example 6. Create a series from list

In [7]:
lst=[2,3,4,'Rishabh','Rajat']
d=pd.Series(lst)
print(d)

0          2
1          3
2          4
3    Rishabh
4      Rajat
dtype: object

### Example 7. Filtering a series

In [9]:
data=[10,20,30,40,50,60,70]
dt=pd.Series(data)
filter_data=dt[dt>40]
print(filter_data)

4    50
5    60
6    70
dtype: int64

### Example 8. Handling Missing Data

In [15]:
data={'a':10,'b':None,'c':30,'d':None}
series=pd.Series(data)
print("Series Without Filling any values \n",series)
print()
filled_Series=series.fillna(0)
print("Series With Filling values\n",filled_Series)

Series Without Filling any values
 a    10.0
b     NaN
c    30.0
d     NaN
dtype: float64

Series With Filling values
 a    10.0
b     0.0
c    30.0
d     0.0
dtype: float64

### Example 9. Applying functions to a  Series

In [16]:
data=[1,2,3,4,5,6,7,8]
d=pd.Series(data)
sq=d.apply(lambda x:x**2)
print(sq)

0     1
1     4
2     9
3    16
4    25
5    36
6    49
7    64
dtype: int64

### Example 10. Getting series information

In [18]:
data=[20,3,40,55,56,68,68]
d=pd.Series(data,name='Series Example')
print(d.describe())

count     7.000000
mean     44.285714
std      24.797273
min       3.000000
25%      30.000000
50%      55.000000
75%      62.000000
max      68.000000
Name: Series Example, dtype: float64